<a href="https://colab.research.google.com/github/Jarrod-Street/Jarrod-Street/blob/main/Calculations%20-%20Playing%20around.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("This is how much 12 footballs cost")

number_of_footballs = 12
price_per_football = 12.50
total_cost = number_of_footballs * price_per_football

print(f"Total cost: ${total_cost}")

This is how much 12 footballs cost
Total cost: $150.0

In [2]:
print("Tottenham are pathetic")
Draw = 1
Loss = 0
Win = 3
Games_played = 38
total = (Loss + Win+ Draw)

print(f"total = {Loss * 16, Win * 8, Draw * 14}")


total_points = (Loss * 16) + (Win * 8) + (Draw * 14)


print(f"Combined total: {total_points} points out of possible 114")

Tottenham are pathetic
total = (0, 24, 14)
Combined total: 38 points out of possible 114